<navbar>
    <a href="#home">Books</a>
    <a href="#contact">Authors</a>
    <a href="#contact">Blog</a>
    <a href="#about">About Us</a>
    <input type="search" name="search" placeholder="search for books">
</navbar>