<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Gloria+Hallelujah&family=Lilita+One&family=Rubik+Wet+Paint&family=Sevillana&family=Titan+One&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="inner-box">
        <div class="nav">
           <%- include('../partials/navbar.ejs')%>
           </div>
            <footer>
                
                <input type="text" name="email" placeholder="enter your email">
                <option>
                    <select>Male</select>
                    <select>Female</select>
                    <select>Other</select>
                </option>
                <input type="text" name="location" placeholder="enter your location">
            </footer>
        
       </div>
    </div>
</body>
</html>