*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 1000px;
    background-color: antiquewhite;
    
}

a{
    text-decoration: none;
    padding: 30px;
    
}

.nav{
    width: 100vw;
    height: 70px;
    background-color:lightgrey;
  
    font-family: 'Titan One', cursive;
}